.top-page-wrapper{
  padding: 60px 0px 60px;
  //min-height:250px;
  //background-color:#2b5fbc;
  text-align:center;
}

.second-page-wrapper{
  padding: 10px 0px;
  background-color: #284067;
  color:white;
}

.third-page-wrapper{
  text-align:center;
}

.page-title{
  font-size:3em;
  font-weight:700;
}

.page-subtitle{
  font-size:1.9em;

}


.description{
  font-size:0.9em;
  color:#686868;
  line-height:1.9;

}

.cover{
  text-align:center;
  img{
    height:50%;
    width:50%;
  }
}
