.top-page-wrapper{
  padding: 190px 0px 30px;
  min-height:450px;
  background-color:#2b5fbc;
  color:white;
  text-align:center;
}

.second-page-wrapper{
  padding: 10px 0px;
  background-color: #284067;
  color:white;
}

.third-page-wrapper{

}

.page-title{
  font-size:3em;
  font-weight:700;
}

.page-subtitle{
  font-size:1.9em;


}


.description{
  font-size:0.9em;
  color:#686868;
  line-height:1.9;
}
