<template name="homepage">
  <div class="top-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <img src="/corgi.png" class="lg-circle">
          <br/>
          <br/>
          <h2 class="title"> Turn your business's Facebook page<br/> into a friendly, artifically intelligent, concierge <br/> and help your customers</h2>
          <form class="pageConvert">
            <input type="text" class="epic-control" name="facebookurl" placeholder="Paste your facebook page URL here">
            <br/>
            <input type="submit" class="btn btn-lg btn-epic">
          </form>

          <br/>
          <br/>
          <div class="tiny">Corgi borrowed from talented designer  Alexey Kuvaldin at: https://dribbble.com/shots/2024231-Corgi?list=shots&sort=popular&timeframe=now&offset=8</div>


        </div>
      </div>
    </div>
  </div>
</template>
