<template name="homepage">
  <div class="top-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-8">
          <h2 class="title"> Make your business's Facebook page into something brilliant</h2>
          <form class="pageConvert">
            <input type="text" class="form-control" name="facebookurl" placeholder="Paste your facebook page URL here">
            <br/><br/>
            <input type="submit" class="btn btn-lg btn-epic">
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
