<template name="showPage">
  <div class="top-page-wrapper" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-title">{{this.facebook.name}}</div>
          <div class="page-subtitle">
            {{{cleanSyntax this.facebook.about}}}

          </div>
        </div>
      </div>
    </div>
  </div>


  {{#if this.facebook.description}}
    <br/>
    <br/>
    <div class="third-page-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="description">
              <h4>Information</h4>
              <br/>
              {{{cleanSyntax this.facebook.description}}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}

  <div class="container">
    <div class="row">
      <div class="cover">
        <img src="{{this.facebook.cover.source}}">
      </div>
    </div>
  </div>

  <br/>
  <br/>

  <div class="map-wrapper">
    {{this.facebook.location.latitude}},
    {{this.facebook.location.longitude}}

  </div>

  <br/>
  <br/>
</template>
